{% extends "shop_phones/base.html" %}
{% load static %}

{% block title %}
Main
{% endblock title %}

{% block main %}
<h2>Что мы продаем</h2>

<div class="row  g-2">
    {% for phone in phones %}
    <div class="col-12 col-lg-6 col-xl-4 d-flex flex-stretch">
        <div class="card border border-primary">
            <div class="card-body">
                <div class="row h-100">
                    <img class="col-4 rounded-start col-4 object-fit-scale"
                        src="{% static 'shop_phones/images/iphone_placeholder.png' %}" alt="">
                    <div class="col-8 h-100 d-flex flex-column">
                        <h3 class="card-title mb-2">
                            {{ phone.model_name }}
                        </h3>
                        <p class="card-text h4">
                            {{ phone.price }} $
                            {% if phone.is_sale_price %}<span class="badge fs-6 text-bg-success">Sale</span>{% endif %}
                        </p>
                        <div class="row mt-auto ">
                            <div class="col-8 col-md-6 col-lg-8 col-xl-6 d-flex flex-column">
                                <a href="{% url 'detail' phone.pk %}" class="btn btn-danger mb-2">Подробнее</a>
                                <a href="#" class="btn btn-danger ">Купить</a>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if phones.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ phones.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ phones.number }} of {{ phones.paginator.num_pages }}.
        </span>

        {% if phones.has_next %}
            <a href="?page={{ phones.next_page_number }}">next</a>
            <a href="?page={{ phones.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock main %}